/* CSS Document
HB FLOW NEW TEMPLATE 
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");*/


body { 
margin:0; 
background: #F9F6F1;
background: url(../images/bg_01.png) repeat-y; 
font-family:'Open Sans', Arial, Helvetica, sans-serif; 
font-size:10px; 
line-height:20px;/* */
color: #333;
}

#header { 
height:40px; 
background: url(../images/bg_top.png) repeat-x #048205; 
width:100%; }

#logo { 
padding-left:10px;
}

#leftbar {
width:180px; 
background:#3E3E3E; 
position: absolute; 
height:100%;
}

#user { 
margin:4px; 
color:#E4E4E4; 
margin-top:20px;
}

.usericon { 
float:left; 
width:32px; 
margin-left:5px; 
font-size:30px;  
}

.userdetails { 
margin-left:40px;
}

.userdetails h1{ 
font-size:12px; 
margin:2px; 
padding:0; 
font-weight:bold;
}

.userdetails h2{ 
font-size:10px; 
margin:2px; 
padding:0;
}

/********************* NOTIFICATIONS **********************/
.notification {
font-family:  'Open Sans', 'Lucida Grande', 'Segoe UI','Century Gothic', Arial, 'Trebuchet MS', 'Times New Roman'; color: #333333;
	font-size:12px;
	display: block;
	padding: 20px 20px 20px 45px;
	border: 1px solid;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: 20px 20px;
	 -moz-border-radius: 3px;
	border-radius: 3px;
    border radius: 3px;
	width:93%;
	}
	
.n-success {
	background-color: #a3e6bd;
	border-color: #68d59b;
	background-image: url(css/notification-tick.gif);
	}
.n-information {
	background-color: #9fddea;
	border-color: #5fceea;
	background-image: url(css/notification-information.gif);
	}

.n-attention {
	background-color: #f9e497; 
	border-color: #ffcb4f;
	background-image: url(css/notification-exclamation.gif);
	}

.n-error {
	background-color: #ffc6ca;
	border-color: #efb9c3;
	background-image: url(css/notification-slash.gif);
	}


/********************* END NOTIFICATIONS **********************/

/********************* FORM ELEMENTS **********************/
.input-long, .input-short{ 
padding:8px;
	border:1px solid #CCC;
	display: block;
	margin: 0;
	box-shadow: inset 3px 3px 4px #f1f1f1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.input-long{
	width:95%;
	
	}
.input-long:focus, .input-short:focus{ border:1px solid #19bc9c;}

.input-short {
	width:50%;
		}	
		
.input-button{
	border: none;

color: #fff;
font-size: 15px;
padding: 8px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.3);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background:#19bc9c;
border:1px solid #666;
/*background: rgb(67, 67, 0);
background: -moz-linear-gradient(90deg, rgb(67, 67, 0) 30%, rgb(145, 149, 0) 69%);
background: -webkit-linear-gradient(90deg, rgb(67, 67, 0) 30%, rgb(145, 149, 0) 69%);
background: -o-linear-gradient(90deg, rgb(67, 67, 0) 30%, rgb(145, 149, 0) 69%);
background: -ms-linear-gradient(90deg, rgb(67, 67, 0) 30%, rgb(145, 149, 0) 69%);
background: linear-gradient(0deg, rgb(67, 67, 0) 30%, rgb(145, 149, 0) 69%);
-webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.75);	*/
	}
	


/********************* END FORM ELEMENTS **********************/

#login{
	width:500px;
	padding-top:20px;
	font-size:13px;
	color:#333;
	background: #F4F1EC;
	}
#login p{
	margin:5px;
	margin-top:10px;

}
	
.login_head{
	padding:8px; 
	border-bottom:1px solid #D5D5D5;
	font-size:15px;
	font-weight:bold;
	color:#333;
	/*background:#F4F1EC;*/
	background: #f9f6f1;
	background:-moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f6f1), color-stop(100%,#f2efea)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* IE10+ */
	background:linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea')";
	text-shadow: 0px 1px 1px rgba(200, 204, 200, 1);
	}
#mainbar {
	margin-left:180px; 
	position: absolute !important;
	width:87%; 
	padding-left:10px;  
	padding:30px;
	background: #F9F6F1; 
	float:right;
	font-size:13px;
	}
	
#main_left{ 
width: 50%;
margin-left:0px;
float:left;
}	

#main_right{
width: 45%;
float:right;
margin-right:1%;

}

#box{ 
border:1px solid #D5D5D5;
margin-bottom:8px;
background:#FFF;
-webkit-box-shadow: 0px 1px 2px 1px rgba(50, 50, 50, 0.1);
-moz-box-shadow:    0px 1px 2px 1px rgba(50, 50, 50, 0.1);
box-shadow:         0px 1px 2px 1px rgba(50, 50, 50, 0.1);
}

.box_head{
	padding:8px; 
	border-bottom:1px solid #D5D5D5;
	font-size:16px;
	color:#333;
	/*background:#F4F1EC;*/
	background: #f9f6f1;
	background:-moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f6f1), color-stop(100%,#f2efea)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* IE10+ */
	background:linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea')";
	}
.box_cont{
	padding:8px;
	}
	
#big_stats 
{ 
	width: 100%; 
	display: table;
	margin-top: 1.5em;
	
	
}

.big-stats-container .widget-content {
	border:0;
}

#big_stats .stat
{
	width: 25%;
	height: 90px;
	text-align: center;
	display: table-cell;
	padding: 0;
	position: relative;
	
	border-right: 1px solid #CCC;
	border-left: 1px solid #FFF;
}
#big_stats  i { font-size:30px; display:block; line-height: 40px; /*color:#b2afaa;*/ color:#4A8E56}
#big_stats .stat:hover i {color:#19bc9c;}

h6.bigstats{margin: 20px;
border-bottom: 1px solid #eee;
padding-bottom: 20px;
margin-bottom: 26px;}

#big_stats .stat:first-child {
	border-left: none;
}

#big_stats .stat:last-child {
	border-right: none;
}

#big_stats .stat h4
{
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 1.5em;
}

#big_stats .stat .value
{
	font-size: 45px;
	font-weight: bold;
	color: #545454;
	line-height: 1em;
}

.box-news { 
border-bottom: 1px solid #CCC;
margin-bottom:5px;
padding-bottom: 5px;
}

.box_date{ 
float:left; 
width:60px;
padding-left:5px; padding-top:5px;
text-align:center;
}
.box_date h1{ 
font-size:34px; 
font-weight:normal;
padding:0;
margin:0;
}

.box_date h2{ 
font-size:14px; 
font-weight:normal;
padding:0;
margin:0;
} 

.box_not{ 
margin-left:65px;
}

@media all and (max-width: 950px) and (min-width: 1px) {
	
	#big_stats {
		display: block;
		margin-bottom: -40px;
	}
	
	#big_stats .stat {
		width: 49%;
		display: block;
		margin-bottom: 3em;
		float: left;
	}	
	
	#big_stats .stat:nth-child(2) {
		border-right: none;
	}
	
	#big_stats .stat:nth-child(3) {
		border-left: none;
	}
	
}
/********************* ADD RESPONSIVENESS **********************/
@media (max-width: 768px) {
	
body { 
margin:0; 
background:#F9F6F1;
font-family:'Open Sans', Arial, Helvetica, sans-serif; 
font-size:10px; 
line-height:20px;/* */
color: #333;
}

.notification {
font-family:  'Open Sans', 'Lucida Grande', 'Segoe UI','Century Gothic', Arial, 'Trebuchet MS', 'Times New Roman'; color: #333333;
	font-size:12px;
	display: block;
	padding: 8px;
	margin-bottom: 5px;
	 -moz-border-radius: 3px;
	border-radius: 3px;
    border radius: 3px;
	width:93%;
	}

	
	
#user  { display:none;}
#leftbar{ display:none;}




.tabs{
	background: transparent; 
    border: none;
	text-decoration:none;
	
}
.tabs li {
	list-style:none;
	display:inline;
	font-size: 14px;
	cursor: pointer;
	background: transparent; 
    border: none;   
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
	text-decoration:none;
}


.tabs a {
	padding:5px 10px;
	display:inline-block;
	color:#303;
	text-decoration:none;
}

.tabs a.active {
	background:#fff;
	color:#000;
	background: transparent; 
	border-bottom:5px solid #c0c0c0;
	font-weight:bold;
}
.tabs.t_header li a {
	text-decoration: none;
}


/*menu css*/

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=3.2.1');

src:url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') 
format('embedded-opentype'),
url('font/fontawesome-webfont.woff?v=3.2.1') 
format('woff'),
url('font/fontawesome-webfont.ttf?v=3.2.1') 
format('truetype'),
url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') 
format('svg');
font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]
{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;}


#menu { width:100%; margin-top:50px;}


#main_menu{
margin-top:5px;
width:90.5%;
/*background-color:#272727;*/
font-size: 14px;
font-weight:bold;
 padding:8px; 
 text-decoration:none; 
/*color: #003651; */
color: #ccc; 
  cursor:default; 
}
#main_menu:hover, .active{
color: #333;
/* background-color:#448FDA;background-position: right;*/
 background: #19bc9c url(../images/arrrow_right.png) no-repeat  ;
background-position: 150px;

}

/*highlight the active menu here. change colour to liking */
.active{ 

background: #CA6500 url(../images/arrrow_right.png) no-repeat  ;
background-position: 150px;
}


#main_menu a{color: #666666; text-decoration:none;  }
#main_menu a:hover{color: #006699;}
#main_menu.menu_hoverable {
	/*position: relative;
	color:#4682B4;
	color:#fff;*/
	text-decoration: none;
}

.menu_hoverable div {
	font-weight:normal;
	position: absolute;
	display: none;
	margin-left: 155px;
	margin-top: -28px;
	padding: 0px;
box-shadow: 3px 3px 3px #666;
-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;  
border:1px solid #cacaca;
 background-color: #fff;  
}

.menu_hoverable:hover div {
	display: block;

}
.menu_ a{ display:block;
color: #333333;
padding:8px 8px 8px 25px;
cursor: pointer;
font-size:12px;
text-shadow: 0px 1px 0px #ccc;
}
.menu_ a:hover{
	background:#E8E8E8;
	
	}
.menu_ { z-index:5000;}

.sub_menu {padding:8px; text-transform:uppercase; color:#336B99; /*border-bottom:1px solid #CCCCCC;*/}
.sub_menu a{ text-decoration:none; color: #0066CC;}
.sub_menu a:hover{ color:#990000;}
.menu_link{ padding:4px; border-bottom:1px solid #CCC;  margin:auto; display:block;}

/********************* ADD RESPONSIVENESS **********************/
@media (max-width: 768px) {
	#main_menu { font-size:20px; font-weight:normal;}
#main_menu span{ display:none;}

.menu_hoverable div {
	font-size:13px;
	font-weight:normal;
	position: absolute;
	display: none;
	margin-left: 30px;
	margin-top: -32px;
	padding: 0px;
box-shadow: 3px 3px 3px #666;
-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;  
border:1px solid #cacaca;
 background-color: #fff;  
}
}